<h2 mat-dialog-title>Select zone for table</h2>
<mat-dialog-content>
  <p>Select timezone from the list?</p>
    <mat-form-field>
      <mat-label>Time zone</mat-label>
      <mat-select [(ngModel)]="zoneName">
        @for (zone of allZones | filter:usedZones; track zone) {
          <mat-option [value]="zone">{{ zone }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="zoneName()" [disabled]="zoneName().length <= 0" >Add</button>
</mat-dialog-actions>
