.main-loading-spinner {
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: calc(100vh - 20px);
}

.button-wrapper {
  display: flex;
  justify-content: flex-end
}
